body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(170, 170, 243);
}

body > h1, body > p {
    color: white;
}

h1,p{
    text-align: center;

}form{
    margin: 0 auto;
    width: 80%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;

}#name,#email-label,#number,#submit{
    width: 90%;
    padding: 7px;

}
#email-label,#name-label,#number-label{
    margin: 5px;
}#submit{
    background-color: rgb(27, 231, 27);
    border-radius: 5px;
    border: none;
    margin-top: 5px;

}

form p {
    text-align: left;
}

textarea {
    text-align: center;
}
